# Node / Package Manager
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Build / Output
dist/
build/
bin/
obj/
*.apk
*.aar
*.log

# Environments / Credentials
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
